<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<display-name>Home</display-name>
  	<description></description>
  	<servlet-class>com.tejasvi.web.Home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.tejasvi.web.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStudent</servlet-name>
  	<display-name>GetStudent</display-name>
  	<description></description>
  	<servlet-class>com.tejasvi.web.GetStudent</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStudent</servlet-name>
  	<url-pattern>/GetStudent</url-pattern>
  </servlet-mapping>
  
<servlet>

<servlet-name>Test Jersey Service</servlet-name>

<!-- For Jersey 1.x -->

<!-- <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class> -->

<!-- For Jersey 2.x -->

<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

<init-param>

    <!-- For Jersey 1.x -->

<!-- <param-name>com.sun.jersey.config.property.packages</param-name> -->

<!-- For Jersey 2.x -->

<param-name>jersey.config.server.provider.packages</param-name>

<param-value>com.test</param-value>

</init-param>

<load-on-startup>1</load-on-startup>

</servlet>
<servlet>
	<servlet-name>practicejson</servlet-name>
	<display-name>practicejson</display-name>
	<description></description>
	<servlet-class>com.tejasvi.web.practicejson</servlet-class>
</servlet>

<servlet-mapping>

<servlet-name>Test Jersey Service</servlet-name>

<url-pattern>/rest/*</url-pattern>

</servlet-mapping>
<servlet-mapping>
	<servlet-name>practicejson</servlet-name>
	<url-pattern>/practicejson</url-pattern>
</servlet-mapping>

  
</web-app>
